services:
  envoy:
    image: envoyproxy/envoy:v1.36.2
    container_name: envoy
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
    depends_on:
      - dispatcher

  gateway:
    build:
      context: ./gateway
    container_name: gateway
    environment:
      PORT: ${GATEWAY_PORT}
      DISPATCHER_HOST: ${GATEWAY_DISPATCHER_HOST}
      DISPATCHER_PORT: ${GATEWAY_DISPATCHER_PORT}
      DISPATCHER_PACKAGE: ${GATEWAY_DISPATCHER_PACKAGE}
    ports:
      - "${GATEWAY_PORT}:3000"
    depends_on:
      - envoy

  dispatcher:
    build:
      context: ./services/dispatcher
    environment:
      GRPC_HOST: ${DISPATCHER_GRPC_HOST}
      GRPC_PORT: ${DISPATCHER_GRPC_PORT}
      GRPC_PACKAGE: ${DISPATCHER_GRPC_PACKAGE}
      WORKER_HOST: ${DISPATCHER_WORKER_HOST}
      WORKER_PORT: ${DISPATCHER_WORKER_PORT}
      WORKER_PACKAGE: ${DISPATCHER_WORKER_PACKAGE}
    depends_on:
      - worker

  worker:
    build:
      context: ./services/worker
    environment:
      GRPC_HOST: ${WORKER_GRPC_HOST}
      GRPC_PORT: ${WORKER_GRPC_PORT}
      GRPC_PACKAGE: ${WORKER_GRPC_PACKAGE}
    depends_on:
      - kafka

  kafka:
    image: confluentinc/cp-kafka:7.9.5
    container_name: kafka
    environment:
      KAFKA_NODE_ID: ${KAFKA_NODE_ID}
      KAFKA_PROCESS_ROLES: ${KAFKA_PROCESS_ROLES}
      KAFKA_CONTROLLER_QUORUM_VOTERS: ${KAFKA_CONTROLLER_QUORUM_VOTERS}
      KAFKA_LISTENERS: ${KAFKA_LISTENERS}
      KAFKA_ADVERTISED_LISTENERS: ${KAFKA_ADVERTISED_LISTENERS}
      KAFKA_INTER_BROKER_LISTENER_NAME: ${KAFKA_INTER_BROKER_LISTENER_NAME}
      KAFKA_CONTROLLER_LISTENER_NAMES: ${KAFKA_CONTROLLER_LISTENER_NAMES}
      CLUSTER_ID: MkQkSjQ4OThiNDJkYjQ2MjE=
    ports:
      - "${KAFKA_PORT}:9092"
